
    .page-wrapper {
        width: 80%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:white;
        overflow-y: scroll;
    }
    


.input-block {
    width: 80%;
    height:100px;
    margin-top: 40px;
}

form > input{
    width: 70%;
    height: 30px;
}
.input-block input {
    height: 30px;
    border: 2px solid rgb(255, 208, 0);
    margin-right: 15px;
}

.input-block button {
    width: 80px;
    height: 30px;
    color: white;
    background-color: rgb(26, 129, 129);
    border: none;
    cursor: pointer;
}

.text-block {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text1 {
    color: rgb(129, 145, 158);
    font-size: 15px;
}

.text2 {
    font-size: 25px;
}

.tasks-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.hide-block {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.invalid{
    color: red;
}